@import url("../../../global.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--cream);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.form-container {
  background-color: var(--light-grey);
  padding: 40px; /* Aumentado para 40px, mais espaçamento */
  border-radius: 6px; /* Bordas mais suaves */
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Sombra mais leve e difusa */
  font-family: Arial, sans-serif;
}

h1 {
  color: var(--dark-grey);
  margin-bottom: 30px; /* Maior espaçamento */
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem; /* Tamanho maior da fonte */
}

fieldset {
  border: 1px solid var(--dark-grey);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px; /* Bordas arredondadas */
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: var(--dark-grey);
  font-size: 1rem;
}

label {
  display: block;
  margin: 0.5rem 0 0.2rem;
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 14px; /* Fonte menor e mais leve */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px; /* Padding aumentado */
  margin-bottom: 20px; /* Espaçamento maior entre campos */
  border: 1px solid var(--dark-grey);
  border-radius: 6px; /* Bordas arredondadas */
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

button {
  width: 100%;
  padding: 12px; /* Padding aumentado */
  margin-top: 20px;
  background-color: var(--light-orange);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px; /* Bordas arredondadas */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: Arial, sans-serif;
}

button:hover {
  background-color: var(--dark-orange);
}

#mensagem {
  margin-top: 1rem;
  text-align: center;
  color: var(--dark-grey);
  font-family: Arial, sans-serif;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--light-orange);
  color: var(--dark-grey);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px; /* Bordas arredondadas */
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
  width: 4rem;
  font-family: Arial, sans-serif;
}

.btn-voltar:hover {
  background-color: var(--dark-orange);
}