@import url("../../global.css");

body {
    font-family: Arial, sans-serif;
    background-color: var(--cream);
    margin: 0;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
    background: var(--light-grey);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.info-box {
    background-color: #f9f9f9;
    border-left: 5px solid var(--dark-orange);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.info-box h3 {
    margin-top: 0;
    color: var(--dark-orange);
}

p {
    margin: 8px 0;
    color: #444;
}

strong {
    color: var(--dark-grey);
}

.btn-voltar {
    display: inline-block;
    margin-top: 20px;
    background-color: var(--dark-orange);
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: var(--light-orange);
}
