@import url('../../global.css');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #EDEDED;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  display: flex;
  width: 90%;
  max-width: 1000px;
  height: 80vh;
  border-radius: 12px;
  overflow: hidden;
}

.container-login {
  flex: 1;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BDC4A7; /* cor do fundo geral */
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* apenas o card tem fundo branco */
.card-login {
  width: 100%;
  max-width: 400px;
}

.bem-vindo {
  font-size: 1.5rem;
  color: var(--dark-grey);
  margin-bottom: 20px;
  text-align: center;
}

.conecta-laranja {
  color: var(--light-orange);
}

label {
  display: block;
  margin-top: 15px;
  color: var(--dark-grey);
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid var(--light-grey);
  box-sizing: border-box;
}

.senha-container {
  position: relative;
}

.senha-container input {
  padding-right: 35px;
}

#toggleSenha {
  position: absolute;
  right: 10px;
  top: 9px;
  cursor: pointer;
}

.btn-login,
.btn-cadastrar {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.btn-login {
  background-color: var(--light-orange);
}

.btn-login:hover {
  background-color: var(--dark-orange);
}

.btn-cadastrar {
  background-color: transparent;
  color: var(--light-orange);
  border: 2px solid var(--light-orange);
}

.btn-cadastrar:hover {
  background-color: var(--light-orange);
  color: white;
}

#mensagem {
  text-align: center;
  margin-top: 10px;
  color: red;
}

/* imagem com fundo separado */
.container-imagem {
  flex: 1;
  height: 80%; /* Igual ao container-login */
  display: flex;
  justify-content: center;
  align-items: center;/* opcional: cor de fundo para diferenciar */
}

.container-imagem img {
  width: 100%;
  height: 80%;
  object-fit: cover; /* cobre tudo sem distorcer */
  display: block;
  justify-content: center;
  align-items: center;
}