@import url("../../global.css");
body {
  background-color:var(--cream);
  font-family: Arial, sans-serif;
}

h1.bem-vindo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--dark-grey);
}

.conecta-laranja {
  color: var(--light-orange);
}

.card {
  background-color: var(--light-grey);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--dark-grey) !important;
}

.btn-primary {
  background-color: var(--light-orange);
  border-color: var(--light-orange);
}

.btn-primary:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
}

.btn-outline-primary {
  color: var(--light-orange);
  border-color: var(--light-orange);
}

.btn-outline-primary:hover {
  background-color: var(--light-orange);
  color: white;
}

.btn-outline-secondary {
  color: var(--light-grey);
  border-color: var(--light-grey);
}

.btn-outline-secondary:hover {
  background-color: var(--light-grey);
  color: white;
}
